extends ../layout

block content
  script(src='/javascripts/circle-progress.min.js')

  include ../styles/styles-global
  include styles/styles-social
  include styles/styles-amounts-header
  include styles/styles-form
  include styles/styles-transcription-results

  include components/navbar

  main(class=" flex justify-between items-center px-40")
    div(class="flex-[0.6]") 
      div   
        img(src="/images/globe.png", alt="globe")
    div(class="flex-[0.4]")
      include components/amounts-header

      h1#header(class="text-4xl text-center pb-3") Upload File 
      include components/upload-form

      include components/transcription-results
    
  include js/js-index